body {
  font-size:1em;
  font-family:"century gothic", "open-sans", arial,sans-serif;
}

h1 {
  font-weight:normal;
  font-size:3em;
}

button{
  border:0;
  font-size: 2em;
  color:white;
  width:40px;
  height:40px;
  text-align:center;
  line-height: 30px;
  border-radius: 100px;
  opacity:.5;
  transition: opacity .5s;
  margin:20px 5px;
}

button:hover {
  opacity:1;
}

button:focus {
  outline: 0;
}
